USE [master]
GO
/****** Object:  Database [SmartTimeJobApplications]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE DATABASE [SmartTimeJobApplications]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartTimeJobApplications', FILENAME = N'C:\Backup\SmartTimeJobApplications.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartTimeJobApplications_log', FILENAME = N'C:\Backup\SmartTimeJobApplications_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartTimeJobApplications].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartTimeJobApplications]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentFile]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
	[JobApplicationId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_AttachmentFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractCategories]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEn] [nvarchar](100) NOT NULL,
	[NameNative] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_ContractCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](250) NOT NULL,
	[RepresentativeName] [nvarchar](250) NOT NULL,
	[RepresentativeTitle] [nvarchar](250) NOT NULL,
	[EmployeeName] [nvarchar](250) NOT NULL,
	[EmployeeNationalId] [nvarchar](20) NOT NULL,
	[EmployeeAddress] [nvarchar](500) NOT NULL,
	[JobTitle] [nvarchar](250) NOT NULL,
	[ContractDuration] [nvarchar](100) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[ProbationPeriod] [nvarchar](100) NOT NULL,
	[MonthlySalary] [decimal](18, 2) NOT NULL,
	[SalaryPaymentDay] [int] NOT NULL,
	[JobApplicationId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[ContractTypeId] [int] NULL,
	[CommercialNumber] [nvarchar](100) NULL,
	[CompanyAddress] [nvarchar](500) NULL,
	[IsSigned] [bit] NOT NULL,
	[NationalIdUrl] [nvarchar](max) NULL,
	[SignedContractUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractTypes]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEn] [nvarchar](100) NOT NULL,
	[NameNative] [nvarchar](100) NOT NULL,
	[DescriptionEn] [nvarchar](max) NULL,
	[DescriptionNative] [nvarchar](max) NULL,
	[ClausesEn] [nvarchar](max) NULL,
	[ClausesNative] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[ContractFor] [nvarchar](200) NULL,
	[AuthorizedSignatory] [nvarchar](200) NULL,
	[CommercialNumber] [nvarchar](100) NULL,
	[FirstPartyAddress] [nvarchar](500) NULL,
	[FirstPartyName] [nvarchar](200) NULL,
 CONSTRAINT [PK_ContractTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](250) NOT NULL,
	[CourseAddress] [nvarchar](500) NOT NULL,
	[From] [datetime2](7) NULL,
	[To] [datetime2](7) NULL,
	[JobApplicationId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderType]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderTypeName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GenderType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewSchedule]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobApplicationId] [int] NOT NULL,
	[InterviewDate] [datetime2](7) NOT NULL,
	[InterviewTime] [time](7) NOT NULL,
	[InterviewLocation] [nvarchar](500) NULL,
	[TestDate] [datetime2](7) NULL,
	[TestTime] [time](7) NULL,
	[TestLocation] [nvarchar](500) NULL,
	[NotificationType] [int] NOT NULL,
	[IsNotificationSent] [bit] NOT NULL,
	[NotificationSentAt] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CompanyId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[InterviewResult] [int] NULL,
	[InterviewResultNote] [nvarchar](1000) NULL,
	[TestResult] [int] NULL,
	[TestResultNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_InterviewSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplication]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[PlaceOfBirth] [nvarchar](500) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[NationalID] [nvarchar](18) NOT NULL,
	[MobileNumber] [nvarchar](15) NOT NULL,
	[Nationality] [nvarchar](250) NOT NULL,
	[MaritalStatusId] [int] NOT NULL,
	[HighSchoolName] [nvarchar](250) NOT NULL,
	[HighSchoolGraduationYear] [int] NOT NULL,
	[EnglishLevelId] [int] NOT NULL,
	[OtherLanguageLevelId] [int] NULL,
	[ComputerSkillsLevelId] [int] NOT NULL,
	[CurrentEmployerName] [nvarchar](250) NULL,
	[CurrentEmployerAddress] [nvarchar](500) NULL,
	[CurrentJobDescription] [nvarchar](2500) NULL,
	[CurrentSalary] [decimal](18, 2) NULL,
	[ReasonForLeavingCurrent] [nvarchar](500) NULL,
	[ReadyToJoinFrom] [datetime2](7) NULL,
	[ApplyingFor] [nvarchar](100) NULL,
	[AdminFeedback] [nvarchar](500) NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
	[CompanyId] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[OtherLanguage] [nvarchar](50) NULL,
	[CurrentFrom] [datetime2](7) NULL,
	[CurrentTo] [datetime2](7) NULL,
	[Email] [nvarchar](250) NOT NULL,
	[ExpectedSalary] [decimal](8, 2) NOT NULL,
	[JobTitle] [nvarchar](100) NULL,
	[IsShortListed] [bit] NOT NULL,
	[IsExcluded] [bit] NOT NULL,
	[IsHolding] [bit] NOT NULL,
	[AppointmentConfirmed] [bit] NULL,
	[AppointmentEmailSent] [bit] NULL,
	[AppointmentSmsSent] [bit] NULL,
	[InterviewDateTime] [datetime2](7) NULL,
	[TestDateTime] [datetime2](7) NULL,
	[CandidateStatus] [int] NULL,
	[JobOfferId] [int] NULL,
 CONSTRAINT [PK_JobApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOffer]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobApplicationId] [int] NOT NULL,
	[OfferedSalary] [decimal](18, 2) NOT NULL,
	[Allowances] [nvarchar](max) NULL,
	[WorkingHours] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ProbationPeriod] [nvarchar](max) NULL,
	[Benefits] [nvarchar](max) NULL,
	[ManagerName] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[SentOn] [datetime2](7) NULL,
	[RespondedOn] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[SenderEmail] [nvarchar](max) NULL,
	[SenderName] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobOffer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelType]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LevelTypeName] [nvarchar](10) NULL,
 CONSTRAINT [PK_LevelType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaritalStatusType]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatusType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaritalStatusTypeName] [nvarchar](20) NULL,
 CONSTRAINT [PK_MaritalStatusType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduledMeeting]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledMeeting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobApplicationId] [int] NOT NULL,
	[ScheduledAt] [datetime2](7) NOT NULL,
	[SelectionDateTime] [datetime2](7) NULL,
	[Location] [nvarchar](500) NULL,
	[NotifyByEmail] [bit] NOT NULL,
	[NotifyBySms] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CompanyId] [nvarchar](max) NULL,
 CONSTRAINT [PK_ScheduledMeeting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[University]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniversityName] [nvarchar](250) NOT NULL,
	[Collage] [nvarchar](250) NOT NULL,
	[UniversityGraduationYear] [int] NOT NULL,
	[JobApplicationId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_University] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 3/16/2026 12:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployerName] [nvarchar](250) NOT NULL,
	[From] [datetime2](7) NULL,
	[To] [datetime2](7) NULL,
	[JobDescription] [nvarchar](1000) NOT NULL,
	[ReasonForLeaving] [nvarchar](500) NOT NULL,
	[JobApplicationId] [int] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkExperience] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250518200145_InitailCreate', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250518210707_RenameProperties', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250518215302_MakeDatesOptional', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[AttachmentFile] ON 

INSERT [dbo].[AttachmentFile] ([Id], [AttachmentUrl], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (1, N'59b7bde2-6904-411d-b842-58333141bde3.jpg', 30, 0, NULL, CAST(N'2025-06-05T00:53:13.4272233' AS DateTime2))
INSERT [dbo].[AttachmentFile] ([Id], [AttachmentUrl], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (2, N'c26b2211-e7c1-4314-92b1-8d5da497a883.png', 30, 0, NULL, CAST(N'2025-06-05T00:53:13.4272277' AS DateTime2))
INSERT [dbo].[AttachmentFile] ([Id], [AttachmentUrl], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (3, N'1f7b335b-cd00-4fb6-8c21-7dbd27430b25.JPG', 41, 0, CAST(N'2026-03-13T04:49:42.6300000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AttachmentFile] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractCategories] ON 

INSERT [dbo].[ContractCategories] ([Id], [NameEn], [NameNative], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (3, N'Fixed-Term Contract', N'عقد العمل محدد المدة', 0, CAST(N'2026-03-09T17:37:57.0555964' AS DateTime2), NULL)
INSERT [dbo].[ContractCategories] ([Id], [NameEn], [NameNative], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (4, N'Open-Ended Contract', N'عقد العمل غير محدد المدة', 0, CAST(N'2026-03-09T17:38:12.4011777' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ContractCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractTypes] ON 

SET IDENTITY_INSERT [dbo].[ContractTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [CourseName], [CourseAddress], [From], [To], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn]) VALUES (50, N'321', N'321312', CAST(N'2025-06-05T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-05T00:00:00.0000000' AS DateTime2), 30, 0, CAST(N'2025-06-05T00:53:13.4300000' AS DateTime2), CAST(N'2025-06-05T00:53:13.4251098' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[GenderType] ON 

INSERT [dbo].[GenderType] ([Id], [GenderTypeName]) VALUES (1, N'Male')
INSERT [dbo].[GenderType] ([Id], [GenderTypeName]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[GenderType] OFF
GO
SET IDENTITY_INSERT [dbo].[InterviewSchedule] ON 

SET IDENTITY_INSERT [dbo].[InterviewSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplication] ON 

SET IDENTITY_INSERT [dbo].[JobApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[JobOffer] ON 

SET IDENTITY_INSERT [dbo].[JobOffer] OFF
GO
SET IDENTITY_INSERT [dbo].[LevelType] ON 

INSERT [dbo].[LevelType] ([Id], [LevelTypeName]) VALUES (1, N'Fluent')
INSERT [dbo].[LevelType] ([Id], [LevelTypeName]) VALUES (2, N'Good')
INSERT [dbo].[LevelType] ([Id], [LevelTypeName]) VALUES (3, N'Fair')
SET IDENTITY_INSERT [dbo].[LevelType] OFF
GO
SET IDENTITY_INSERT [dbo].[MaritalStatusType] ON 

INSERT [dbo].[MaritalStatusType] ([Id], [MaritalStatusTypeName]) VALUES (1, N'Single')
INSERT [dbo].[MaritalStatusType] ([Id], [MaritalStatusTypeName]) VALUES (2, N'Married')
INSERT [dbo].[MaritalStatusType] ([Id], [MaritalStatusTypeName]) VALUES (3, N'Divorced')
SET IDENTITY_INSERT [dbo].[MaritalStatusType] OFF
GO
SET IDENTITY_INSERT [dbo].[University] ON 

INSERT [dbo].[University] ([Id], [UniversityName], [Collage], [UniversityGraduationYear], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn], [AttachmentUrl]) VALUES (61, N'3213', N'3213', 3213, 30, 0, CAST(N'2025-06-05T00:53:13.4300000' AS DateTime2), CAST(N'2025-06-05T00:53:13.4242010' AS DateTime2), NULL)
INSERT [dbo].[University] ([Id], [UniversityName], [Collage], [UniversityGraduationYear], [JobApplicationId], [IsDeleted], [CreatedOn], [LastUpdatedOn], [AttachmentUrl]) VALUES (62, N'Hashemite University', N'IT', 2025, 100, 0, CAST(N'2026-03-13T15:09:21.0166667' AS DateTime2), NULL, N'f5b132e9-aa7e-42ca-a550-300d5e5082a0.jpg')
SET IDENTITY_INSERT [dbo].[University] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkExperience] ON 

INSERT [dbo].[WorkExperience] ([Id], [EmployerName], [From], [To], [JobDescription], [ReasonForLeaving], [JobApplicationId], [CreatedOn], [IsDeleted], [LastUpdatedOn], [AttachmentUrl]) VALUES (111, N'3123', CAST(N'2025-06-05T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-05T00:00:00.0000000' AS DateTime2), N'312321', N'3213', 30, CAST(N'2025-06-05T00:53:13.4300000' AS DateTime2), 0, CAST(N'2025-06-05T00:53:13.4263424' AS DateTime2), N'd86e7b05-17b2-4e85-9e89-f83c352ec1a8.png')
INSERT [dbo].[WorkExperience] ([Id], [EmployerName], [From], [To], [JobDescription], [ReasonForLeaving], [JobApplicationId], [CreatedOn], [IsDeleted], [LastUpdatedOn], [AttachmentUrl]) VALUES (112, N'Aumet', CAST(N'2026-03-13T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-13T00:00:00.0000000' AS DateTime2), N'ttttttttttttttttttttttttttttttttttttttttttrrrrrrrrrrrrrrrr', N'End of training period', 100, CAST(N'2026-03-13T15:09:21.0166667' AS DateTime2), 0, NULL, N'b4d0a26c-daf2-4473-b602-016a827d7bc0.jpg')
SET IDENTITY_INSERT [dbo].[WorkExperience] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttachmentFile_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_AttachmentFile_JobApplicationId] ON [dbo].[AttachmentFile]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_ContractTypeId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_ContractTypeId] ON [dbo].[Contracts]
(
	[ContractTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_JobApplicationId] ON [dbo].[Contracts]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_Course_JobApplicationId] ON [dbo].[Course]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InterviewSchedule_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_InterviewSchedule_JobApplicationId] ON [dbo].[InterviewSchedule]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_ComputerSkillsLevelId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_ComputerSkillsLevelId] ON [dbo].[JobApplication]
(
	[ComputerSkillsLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_JobApplication_Email_CompanyId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_JobApplication_Email_CompanyId] ON [dbo].[JobApplication]
(
	[Email] ASC,
	[CompanyId] ASC
)
WHERE ([CompanyId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_EnglishLevelId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_EnglishLevelId] ON [dbo].[JobApplication]
(
	[EnglishLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_JobApplication_FullName_CompanyId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_JobApplication_FullName_CompanyId] ON [dbo].[JobApplication]
(
	[FullName] ASC,
	[CompanyId] ASC
)
WHERE ([CompanyId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_GenderId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_GenderId] ON [dbo].[JobApplication]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_MaritalStatusId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_MaritalStatusId] ON [dbo].[JobApplication]
(
	[MaritalStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_JobApplication_NationalID_CompanyId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_JobApplication_NationalID_CompanyId] ON [dbo].[JobApplication]
(
	[NationalID] ASC,
	[CompanyId] ASC
)
WHERE ([CompanyId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplication_OtherLanguageLevelId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplication_OtherLanguageLevelId] ON [dbo].[JobApplication]
(
	[OtherLanguageLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobOffer_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_JobOffer_JobApplicationId] ON [dbo].[JobOffer]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduledMeeting_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ScheduledMeeting_JobApplicationId] ON [dbo].[ScheduledMeeting]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_University_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_University_JobApplicationId] ON [dbo].[University]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkExperience_JobApplicationId]    Script Date: 3/16/2026 12:32:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkExperience_JobApplicationId] ON [dbo].[WorkExperience]
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttachmentFile] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSigned]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[JobApplication] ADD  CONSTRAINT [DF__JobApplic__Image__70DDC3D8]  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[JobApplication] ADD  CONSTRAINT [DF__JobApplic__Creat__6477ECF3]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[JobApplication] ADD  CONSTRAINT [DF__JobApplic__Email__08B54D69]  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[JobApplication] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsShortListed]
GO
ALTER TABLE [dbo].[JobApplication] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsExcluded]
GO
ALTER TABLE [dbo].[JobApplication] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsHolding]
GO
ALTER TABLE [dbo].[ScheduledMeeting] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[University] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[WorkExperience] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[WorkExperience] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AttachmentFile]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentFile_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[AttachmentFile] CHECK CONSTRAINT [FK_AttachmentFile_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_ContractTypes_ContractTypeId] FOREIGN KEY([ContractTypeId])
REFERENCES [dbo].[ContractTypes] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_ContractTypes_ContractTypeId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[InterviewSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InterviewSchedule_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InterviewSchedule] CHECK CONSTRAINT [FK_InterviewSchedule_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_GenderType_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[GenderType] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_GenderType_GenderId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_LevelType_ComputerSkillsLevelId] FOREIGN KEY([ComputerSkillsLevelId])
REFERENCES [dbo].[LevelType] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_LevelType_ComputerSkillsLevelId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_LevelType_EnglishLevelId] FOREIGN KEY([EnglishLevelId])
REFERENCES [dbo].[LevelType] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_LevelType_EnglishLevelId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_LevelType_OtherLanguageLevelId] FOREIGN KEY([OtherLanguageLevelId])
REFERENCES [dbo].[LevelType] ([Id])
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_LevelType_OtherLanguageLevelId]
GO
ALTER TABLE [dbo].[JobApplication]  WITH CHECK ADD  CONSTRAINT [FK_JobApplication_MaritalStatusType_MaritalStatusId] FOREIGN KEY([MaritalStatusId])
REFERENCES [dbo].[MaritalStatusType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobApplication] CHECK CONSTRAINT [FK_JobApplication_MaritalStatusType_MaritalStatusId]
GO
ALTER TABLE [dbo].[JobOffer]  WITH CHECK ADD  CONSTRAINT [FK_JobOffer_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobOffer] CHECK CONSTRAINT [FK_JobOffer_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[ScheduledMeeting]  WITH CHECK ADD  CONSTRAINT [FK_ScheduledMeeting_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduledMeeting] CHECK CONSTRAINT [FK_ScheduledMeeting_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FK_University_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FK_University_JobApplication_JobApplicationId]
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD  CONSTRAINT [FK_WorkExperience_JobApplication_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[WorkExperience] CHECK CONSTRAINT [FK_WorkExperience_JobApplication_JobApplicationId]
GO
USE [master]
GO
