<div class="row clearfix">
    <div class="col-12">
        <button type="submit" class="btn btn-round btn-info waves-effect float-end mx-2" id="save">
            <div class="row">
                <div class="col-5 px-2 js-correct-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                    </svg>
                </div>
                <div class="col-7 px-1 js-button-text">
                    <b>Save</b>
                </div>
            </div>
        </button>
        <button type="button" class="btn btn-round btn-secondary waves-effect float-end" data-dismiss="modal">Close</button>
    </div>
</div>