<div class="modal fade" id="Modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
           <div class="card-header" style="display:ruby">
                <h4><strong class="title theme-main-color" id="ModalTitleOperator"></strong></h4>
                <h5><strong class="title muted-color" style="font-size: 1em;" id="ModalTitle"></strong></h5>
           </div>
           <div class="modal-body">
               @* Model body will be renderd here *@
           </div>
        </div>
    </div>
</div>