@{
    ViewData["Title"] = "Dashboard";
    ViewData["ControllerName"] = "Home";
    ViewData["Path"] = "Dashboard";
    ViewData["Icon"] = "dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Powered by <a href="https://zlious.com" target="_blank"><b>ZLIOUS</b></a> ©2024 All Rights Reserve.</p>
</div>
